<!DOCTYPE html>
<html>
  <head>
    <title>TicEtTac - Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/header.ejs') %> 
    <% if (result.length == 0) { %>
      <h4 class="text-white text-center mt-5 mb-3">Oops ! No trains available</h4>
      <div class="d-flex justify-content-center">
        <a class="btn btn-danger" href="/">Home</a>
    </div>
    <% } else { %>
      <h4 class="text-white offset-3 mt-5 mb-3">Tickets available on <%=date%> :</h4>  
      <div class="container">
      <% for (i=0;i<result.length;i++) { %>
        <div class="d-flex justify-content-around bg-white mb-3 mt-3 col-8 offset-2 align-items-center rounded">
          <div class="h6"><b><%=result[i].departure%> / <%=result[i].arrival%></b></div>
          <div class="text-secondary"><b> train departure at : <%=result[i].departureTime%></b></div>
          <div class="d-flex justify-content-around align-items-center">
            <div class="h5"><b><%=result[i].price%>€</b></div>
            <a class="btn btn-danger mb-4 mt-4" href="/book-ticket?id=<%=result[i]._id%>">OK</a>
          </div>
        </div>
        <% } %>
      </div>    
    <% } %>
    <%- include('./partials/footer.ejs') %> 
  </body>
</html>
